.loadingIndicator {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px; 
  }
  
  .sectionsContainer {
    width: 100%;
    max-width: 1200px;
  }

  .loadingIndicator .MuiCircularProgress-root {
    color: var(--color-primary);
}

.none{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px; 
  color: var(--color-primary);
  font-weight: 600;
  font-size: larger
}