
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.wrapper{
    display: flex;
    align-items: center;
    height:48px ;
    margin: 2vw;
}

.search{
    padding: 14px 20px;
    border-radius: 8px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border: 1px solid var(--color-black);
    width: 502px;
    height: 100%;
    
}

.searchButton{
    border-radius: 0px 8px 8px 0px;
    padding: 14px 20px; 
    border: 1px solid var(--color-black);
    cursor: pointer;
    height: 100%;

}
@media (max-width: 767px) {
    .search{
        width: 250px;
    }
}

@media (max-width: 450px) {
    .search{
        width: 150px;
    }
}