
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --color-primary: #34C94B;
    --color-black:#121212;
    --color-white: #ffffff;
    
}

*,
*::before,
*::after{
    box-sizing: border-box;
}

*{
    margin: 0;
}

html,body {
    height: 100%;
}

body{
    font-family: 'Poppins', 'Helvet', sans-serif;
    background-color: var(--color-black);
    color: var(--color-white);
}

input,
button,
textarea {
    font:inherit;
}
img,picture,video,svg{
    display: block;
    max-width: 100%;
}